Repository Team-Sopetit/Sopetit-server, pull requests merged in 2024-07, with the labels that each got.

#307 [FIX] 쿼리 필드명 변경
  src/main/java/com/soptie/server/routine/controller/v2/docs/DailyRoutineControllerV2Docs.java
Labels: sohyeon, hotfix

#311 [FIX] Daily Routine 조회 기능 구현 (2)
  src/main/java/com/soptie/server/routine/adapter/RoutineFinder.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/HappinessRoutineListAcquireResponse.java
  src/main/java/com/soptie/server/routine/controller/v2/dto/response/DailyRoutineListAcquireResponseV2.java
  src/main/java/com/soptie/server/routine/controller/v2/dto/response/DailyRoutinesAcquireResponseV2.java
  src/main/java/com/soptie/server/routine/service/RoutineService.java
  src/test/java/com/soptie/server/routine/service/DailyRoutineServiceTest.java
  src/test/java/com/soptie/server/routine/service/integration/RoutineServiceIntegrationTest.java
Labels: sohyeon, fix

#309 [FEAT] Daily Routine 목록 조회(in add view) 기능 구현
  src/main/java/com/soptie/server/memberroutine/adapter/MemberRoutineFinder.java
  src/main/java/com/soptie/server/memberroutine/repository/MemberRoutineRepository.java
  src/main/java/com/soptie/server/routine/adapter/RoutineFinder.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/HappinessRoutineListAcquireResponse.java
  src/main/java/com/soptie/server/routine/controller/v2/DailyRoutineControllerV2.java
  src/main/java/com/soptie/server/routine/controller/v2/docs/DailyRoutineControllerV2Docs.java
  src/main/java/com/soptie/server/routine/controller/v2/dto/response/DailyRoutineListAcquireResponseV2.java
  src/main/java/com/soptie/server/routine/controller/v2/dto/response/DailyRoutinesAcquireResponseV2.java
  src/main/java/com/soptie/server/routine/service/RoutineService.java
  src/test/java/com/soptie/server/routine/service/DailyRoutineServiceTest.java
  src/test/java/com/soptie/server/routine/service/integration/RoutineServiceIntegrationTest.java
Labels: sohyeon, feat, test

#310 [FEAT] 메이커 루틴 테마 목록 조회
  src/main/java/com/soptie/server/common/handler/ErrorHandler.java
  src/main/java/com/soptie/server/common/support/StringListConverter.java
  src/main/java/com/soptie/server/maker/adapter/MakerFinder.java
  src/main/java/com/soptie/server/maker/controller/MakerController.java
  src/main/java/com/soptie/server/maker/controller/docs/MakerControllerDocs.java
  src/main/java/com/soptie/server/maker/controller/dto/response/MakerListAcquireResponse.java
  src/main/java/com/soptie/server/maker/entity/Maker.java
  src/main/java/com/soptie/server/maker/exception/MakerException.java
  src/main/java/com/soptie/server/maker/message/MakerErrorCode.java
  src/main/java/com/soptie/server/maker/message/MakerSuccessMessage.java
  src/main/java/com/soptie/server/maker/repository/MakerRepository.java
  src/main/java/com/soptie/server/maker/service/MakerService.java
  src/main/java/com/soptie/server/maker/service/dto/MakerListAcquireServiceResponse.java
  src/main/java/com/soptie/server/theme/controller/v2/ThemeControllerV2.java
  src/test/java/com/soptie/server/maker/service/MakerServiceTest.java
  src/test/java/com/soptie/server/support/fixture/MakerFixture.java
Labels: chan, feat, test
