Repository Team-Sopetit/Sopetit-server, pull requests merged in 2024-06, with the labels that each got.

#230 [TEST] 프로필 생성 통합 테스트
  src/test/java/com/soptie/server/member/service/integration/MemberServiceIntegrationTest.java
Labels: chan, test

#276 [FIX] Member 통합 테스트 CI 에러 수정
  src/test/java/com/soptie/server/member/service/integration/MemberServiceIntegrationTest.java
Labels: chan, fix, test

#287 [FEAT] 일반 테마 조회 기능 구현 (전문가 X)
  src/main/java/com/soptie/server/theme/adapter/ThemeFinder.java
  src/main/java/com/soptie/server/theme/controller/v2/ThemeApi.java
  src/main/java/com/soptie/server/theme/controller/v2/ThemeControllerV2.java
  src/main/java/com/soptie/server/theme/controller/v2/dto/response/ThemeListAcquireResponse.java
  src/main/java/com/soptie/server/theme/entity/Theme.java
  src/main/java/com/soptie/server/theme/message/ThemeSuccessMessage.java
  src/main/java/com/soptie/server/theme/repository/ThemeCustomRepository.java
  src/main/java/com/soptie/server/theme/repository/ThemeRepositoryImpl.java
  src/main/java/com/soptie/server/theme/service/ThemeService.java
  src/main/java/com/soptie/server/theme/service/dto/response/ThemeVO.java
  src/test/java/com/soptie/server/support/fixture/ThemeFixture.java
  src/test/java/com/soptie/server/theme/service/ThemeServiceTest.java
Labels: sohyeon, feat

#289 [TEST] BASIC 테마 목록 조회 및 일부 Entity 수정
  src/main/java/com/soptie/server/maker/entity/Maker.java
  src/main/java/com/soptie/server/theme/controller/v2/dto/response/ThemeListAcquireResponse.java
  src/main/java/com/soptie/server/theme/entity/Theme.java
  src/main/java/com/soptie/server/theme/entity/ThemeType.java
  src/main/java/com/soptie/server/theme/repository/ThemeRepositoryImpl.java
  src/main/java/com/soptie/server/theme/service/ThemeService.java
  src/main/java/com/soptie/server/theme/service/vo/ThemeVO.java
  src/test/java/com/soptie/server/support/fixture/ThemeFixture.java
  src/test/java/com/soptie/server/theme/service/ThemeServiceTest.java
  src/test/java/com/soptie/server/theme/service/integration/ThemeServiceIntegrationTest.java
Labels: sohyeon, fix, test

#278 [FEAT] 회원의 데일리 루틴 목록 조회
  .gitignore
  src/main/java/com/soptie/server/member/service/MemberServiceImpl.java
  src/main/java/com/soptie/server/memberRoutine/adapter/MemberRoutineFinder.java
  src/main/java/com/soptie/server/memberRoutine/controller/v1/MemberDailyRoutineController.java
  src/main/java/com/soptie/server/memberRoutine/controller/v1/api/MemberDailyRoutineApi.java
  src/main/java/com/soptie/server/memberRoutine/controller/v1/dto/response/MemberDailyRoutineListAcquireResponse.java
  src/main/java/com/soptie/server/memberRoutine/controller/v2/MemberDailyRoutineControllerV2.java
  src/main/java/com/soptie/server/memberRoutine/controller/v2/api/MemberDailyRoutineApi.java
  src/main/java/com/soptie/server/memberRoutine/controller/v2/dto/response/MemberDailyRoutineListAcquireResponseV2.java
  src/main/java/com/soptie/server/memberRoutine/repository/dto/MemberRoutineResponse.java
  src/main/java/com/soptie/server/memberRoutine/service/MemberRoutineCreateService.java
  src/main/java/com/soptie/server/memberRoutine/service/MemberRoutineReadService.java
  src/main/java/com/soptie/server/memberRoutine/service/dto/request/MemberDailyRoutineListAcquireServiceRequest.java
  src/main/java/com/soptie/server/memberRoutine/service/dto/request/MemberDailyRoutineListGetServiceRequest.java
  src/main/java/com/soptie/server/memberRoutine/service/dto/response/MemberDailyRoutineListAcquireServiceResponse.java
  src/main/java/com/soptie/server/memberRoutine/service/dto/response/MemberDailyRoutinesAcquireServiceResponse.java
  src/test/java/com/soptie/server/member/service/integration/MemberServiceIntegrationTest.java
  src/test/java/com/soptie/server/memberRoutine/service/integration/MemberRoutineServiceIntegrationTest.java
Labels: chan, feat, test

#297 [FIX] docs 파일명 변경
  src/main/java/com/soptie/server/auth/controller/AuthController.java
  src/main/java/com/soptie/server/auth/controller/docs/AuthControllerDocs.java
  src/main/java/com/soptie/server/doll/controller/DollController.java
  src/main/java/com/soptie/server/doll/controller/docs/DollControllerDocs.java
  src/main/java/com/soptie/server/member/controller/MemberController.java
  src/main/java/com/soptie/server/member/controller/docs/MemberControllerDocs.java
  src/main/java/com/soptie/server/memberroutine/controller/v1/MemberDailyRoutineController.java
  src/main/java/com/soptie/server/memberroutine/controller/v1/MemberHappinessRoutineController.java
  src/main/java/com/soptie/server/memberroutine/controller/v1/docs/MemberDailyRoutineApi.java
  src/main/java/com/soptie/server/memberroutine/controller/v1/docs/MemberDailyRoutineControllerDocs.java
  src/main/java/com/soptie/server/memberroutine/controller/v1/docs/MemberHappinessRoutineControllerDocs.java
  src/main/java/com/soptie/server/memberroutine/controller/v2/MemberDailyRoutineControllerV2.java
  src/main/java/com/soptie/server/memberroutine/controller/v2/docs/MemberDailyRoutineControllerV2Docs.java
  src/main/java/com/soptie/server/routine/controller/v1/DailyRoutineController.java
  src/main/java/com/soptie/server/routine/controller/v1/HappinessRoutineController.java
  src/main/java/com/soptie/server/routine/controller/v1/docs/DailyRoutineControllerDocs.java
  src/main/java/com/soptie/server/routine/controller/v1/docs/HappinessRoutineControllerDocs.java
  src/main/java/com/soptie/server/test/TestController.java
  src/main/java/com/soptie/server/theme/controller/v1/DailyThemeController.java
  src/main/java/com/soptie/server/theme/controller/v1/HappinessThemeController.java
  src/main/java/com/soptie/server/theme/controller/v1/docs/DailyThemeControllerDocs.java
  src/main/java/com/soptie/server/theme/controller/v1/docs/HappinessThemeControllerDocs.java
  src/main/java/com/soptie/server/theme/controller/v2/ThemeControllerV2.java
  src/main/java/com/soptie/server/theme/controller/v2/docs/ThemeControllerV2Docs.java
  src/main/java/com/soptie/server/version/controller/VersionApi.java
  src/main/java/com/soptie/server/version/controller/VersionController.java
  src/main/java/com/soptie/server/version/controller/docs/VersionControllerDocs.java
Labels: sohyeon, fix

#300 [FEAT] 테마별 데일리 루틴 목록 조회(public, 온보딩) 기능 구현
  src/main/java/com/soptie/server/common/config/SecurityConfig.java
  src/main/java/com/soptie/server/routine/adapter/RoutineFinder.java
  src/main/java/com/soptie/server/routine/controller/v2/DailyRoutineControllerV2.java
  src/main/java/com/soptie/server/routine/controller/v2/docs/DailyRoutineControllerV2Docs.java
  src/main/java/com/soptie/server/routine/controller/v2/dto/response/DailyRoutineListAcquireResponseV2.java
  src/main/java/com/soptie/server/routine/service/RoutineService.java
  src/main/java/com/soptie/server/routine/service/vo/RoutineVO.java
  src/test/java/com/soptie/server/routine/service/integration/RoutineServiceIntegrationTest.java
Labels: sohyeon, feat, test

#299 [FEAT] 회원 도전 루틴 조회
  src/main/java/com/soptie/server/memberroutine/controller/v2/MemberChallengeRoutineControllerV2.java
  src/main/java/com/soptie/server/memberroutine/controller/v2/docs/MemberChallengeRoutineControllerV2Docs.java
  src/main/java/com/soptie/server/memberroutine/controller/v2/dto/response/MemberChallengeRoutineAcquireResponseV2.java
  src/main/java/com/soptie/server/memberroutine/service/MemberRoutineReadService.java
  src/main/java/com/soptie/server/memberroutine/service/dto/request/MemberChallengeRoutineAcquireServiceRequest.java
  src/main/java/com/soptie/server/memberroutine/service/dto/response/MemberChallengeRoutineAcquireServiceResponse.java
  src/test/java/com/soptie/server/memberroutine/service/MemberRoutineServiceTest.java
  src/test/java/com/soptie/server/memberroutine/service/integration/MemberRoutineServiceIntegrationTest.java
Labels: chan, feat, test

#302 [FEAT] 도전 루틴 목록 조회
  src/main/java/com/soptie/server/common/config/ValueConfig.java
  src/main/java/com/soptie/server/memberroutine/repository/dto/MemberChallengeResponse.java
  src/main/java/com/soptie/server/routine/adapter/ChallengeFinder.java
  src/main/java/com/soptie/server/routine/controller/v2/ChallengeRoutineControllerV2.java
  src/main/java/com/soptie/server/routine/controller/v2/docs/ChallengeRoutineControllerV2Docs.java
  src/main/java/com/soptie/server/routine/controller/v2/dto/response/ChallengeRoutineListAcquireResponseV2.java
  src/main/java/com/soptie/server/routine/message/RoutineSuccessMessage.java
  src/main/java/com/soptie/server/routine/service/RoutineService.java
  src/main/java/com/soptie/server/routine/service/dto/response/ChallengeRoutineListAcquireServiceResponse.java
  src/main/java/com/soptie/server/routine/service/dto/response/HappinessSubRoutineListGetServiceResponse.java
  src/main/java/com/soptie/server/routine/service/vo/ChallengeVO.java
  src/main/java/com/soptie/server/theme/adapter/ThemeFinder.java
  src/test/java/com/soptie/server/memberroutine/service/integration/MemberRoutineServiceIntegrationTest.java
  src/test/java/com/soptie/server/routine/service/integration/RoutineServiceIntegrationTest.java
Labels: chan, feat, test

#303 [REFACTOR] RoutineVO 적용
  src/main/java/com/soptie/server/routine/adapter/RoutineFinder.java
  src/main/java/com/soptie/server/routine/controller/v1/DailyRoutineController.java
  src/main/java/com/soptie/server/routine/controller/v1/HappinessRoutineController.java
  src/main/java/com/soptie/server/routine/controller/v1/docs/DailyRoutineControllerDocs.java
  src/main/java/com/soptie/server/routine/controller/v1/docs/HappinessRoutineControllerDocs.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/DailyRoutineListAcquireResponse.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/DailyRoutineListByThemeGetResponse.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/DailyRoutineListByThemesGetResponse.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/HappinessRoutineListAcquireResponse.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/HappinessRoutineListGetResponse.java
  src/main/java/com/soptie/server/routine/controller/v1/dto/response/HappinessSubRoutineListAcquireResponse.java
  src/main/java/com/soptie/server/routine/controller/v2/DailyRoutineControllerV2.java
  src/main/java/com/soptie/server/routine/repository/RoutineCustomRepository.java
  src/main/java/com/soptie/server/routine/repository/RoutineRepositoryImpl.java
  src/main/java/com/soptie/server/routine/service/RoutineService.java
  src/main/java/com/soptie/server/routine/service/dto/request/DailyRoutineListByThemeGetServiceRequest.java
  src/main/java/com/soptie/server/routine/service/dto/request/DailyRoutineListByThemesGetServiceRequest.java
  src/main/java/com/soptie/server/routine/service/dto/request/HappinessRoutineListGetServiceRequest.java
  src/main/java/com/soptie/server/routine/service/dto/response/DailyRoutineListGetServiceResponse.java
  src/main/java/com/soptie/server/routine/service/dto/response/HappinessRoutineListGetServiceResponse.java
  src/main/java/com/soptie/server/routine/service/vo/RoutineVO.java
  src/main/java/com/soptie/server/theme/service/ThemeService.java
  src/main/java/com/soptie/server/theme/service/vo/ThemeVO.java
  src/test/java/com/soptie/server/routine/service/integration/RoutineServiceIntegrationTest.java
  src/test/java/com/soptie/server/support/fixture/ThemeFixture.java
Labels: sohyeon, refactor
