Repository Team-Sopetit/Sopetit-server, pull requests merged in 2024-03, with the labels that each got.

#193 [TEST] 데일리 루틴 테마 전체 조회 테스트
  src/main/java/com/soptie/server/routine/entity/daily/DailyTheme.java
  src/test/java/com/soptie/server/routine/repository/daily/theme/DailyThemeRepositoryTest.java
  src/test/java/com/soptie/server/routine/service/DailyRoutineServiceImplTest.java
  src/test/java/com/soptie/server/support/DailyThemeFixture.java
  src/test/java/com/soptie/server/support/RepositoryTest.java
Labels: sohyeon, test

#197 [TEST] 데일리 루틴 테스트
  src/main/java/com/soptie/server/member/entity/Member.java
  src/main/java/com/soptie/server/memberRoutine/entity/daily/MemberDailyRoutine.java
  src/main/java/com/soptie/server/routine/entity/daily/DailyRoutine.java
  src/test/java/com/soptie/server/routine/repository/daily/routine/DailyRoutineRepositoryTest.java
  src/test/java/com/soptie/server/routine/repository/daily/theme/DailyThemeRepositoryTest.java
  src/test/java/com/soptie/server/routine/service/DailyRoutineServiceImplTest.java
  src/test/java/com/soptie/server/routine/service/DailyRoutineServiceTest.java
  src/test/java/com/soptie/server/support/DailyRoutineFixture.java
  src/test/java/com/soptie/server/support/MemberDailyRoutineFixture.java
  src/test/java/com/soptie/server/support/MemberFixture.java
Labels: sohyeon, test

#200 [TEST] 회원이 데일리 루틴 추가 기능 테스트
  .github/workflows/CI.yml
  src/main/java/com/soptie/server/memberRoutine/entity/daily/CompletedMemberDailyRoutine.java
  src/main/java/com/soptie/server/memberRoutine/entity/daily/MemberDailyRoutine.java
  src/test/java/com/soptie/server/memberRoutine/repository/CompletedMemberDailyRoutineRepositoryTest.java
  src/test/java/com/soptie/server/memberRoutine/repository/MemberDailyRoutineRepositoryTest.java
  src/test/java/com/soptie/server/memberRoutine/service/MemberDailyRoutineServiceImplTest.java
  src/test/java/com/soptie/server/routine/repository/daily/routine/DailyRoutineRepositoryTest.java
  src/test/java/com/soptie/server/routine/repository/daily/theme/DailyThemeRepositoryTest.java
  src/test/java/com/soptie/server/support/CompletedMemberDailyRoutineFixture.java
  src/test/java/com/soptie/server/support/DailyThemeFixture.java
  src/test/java/com/soptie/server/support/MemberDailyRoutineFixture.java
  src/test/resources/application-test.yml
  src/test/resources/application.yml
Labels: sohyeon, test

#194 [TEST] MemberService, AuthService 테스트
  src/main/java/com/soptie/server/member/entity/Member.java
  src/main/java/com/soptie/server/memberDoll/entity/MemberDoll.java
  src/test/java/com/soptie/server/auth/service/AuthServiceImplTest.java
  src/test/java/com/soptie/server/member/service/MemberServiceImplTest.java
  src/test/java/com/soptie/server/support/MemberFixture.java
Labels: test

#204 [TEST] DollService 테스트
  src/main/java/com/soptie/server/doll/entity/Doll.java
  src/main/java/com/soptie/server/doll/entity/DollImage.java
  src/test/java/com/soptie/server/doll/service/DollServiceImplTest.java
  src/test/java/com/soptie/server/support/DollFixture.java
Labels: chan, test

#207 [TEST] 데일리루틴 달성 테스트
  src/test/java/com/soptie/server/memberRoutine/service/MemberDailyRoutineServiceImplTest.java
  src/test/java/com/soptie/server/support/MemberFixture.java
Labels: sohyeon, test
